.env
.env.local
*.local
.DS_Store
# *.log
*.pid
*.seed
*.pid.lock
node_modules/
dist/
coverage/
build/
tmp/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.env
*.env.local
*.env.development
*.env.test
*.env.production
mailpit_data/
.kilo/